<header class="header">
    <div class="container">
        <div class="logo">IN</div>
        <nav>
            <ul>
                <li><a href="#about" [class.active]="activeSection === 'about'"
                        (click)="scrollToSection('about', $event)">About</a></li>
                <li><a href="#experience" [class.active]="activeSection === 'experience'"
                        (click)="scrollToSection('experience', $event)">Experience</a></li>
                <li><a href="#skills" [class.active]="activeSection === 'skills'"
                        (click)="scrollToSection('skills', $event)">Skills</a></li>
                <li><a href="#projects" [class.active]="activeSection === 'projects'"
                        (click)="scrollToSection('projects', $event)">Work</a></li>
                <li><a href="#contact" [class.active]="activeSection === 'contact'"
                        (click)="scrollToSection('contact', $event)">Contact</a></li>
                <li><a [href]="'/assets/' + resume.Resume_Pdf" target="_blank" class="resume-btn">Resume</a></li>
            </ul>
        </nav>
    </div>
</header>