.contact {
    max-width: 600px;
    text-align: center;
    padding: 100px 0;
    margin: 0 auto;

    .subtitle {
        color: var(--secondary);
        font-family: monospace;
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .title {
        font-size: clamp(40px, 5vw, 60px);
        color: var(--text-main);
        font-weight: 600;
        margin-bottom: 20px;
    }

    .text {
        color: var(--text-muted);
        font-size: 1.1rem;
        margin-bottom: 50px;
    }

    .contact-details {
        margin-bottom: 50px;
        color: var(--text-muted);

        p {
            margin-bottom: 10px;

            strong {
                color: var(--secondary);
            }

            a {
                text-decoration: underline;

                &:hover {
                    color: var(--secondary);
                }
            }
        }
    }

    .btn {
        display: inline-block;
        padding: 20px 28px;
        border: 1px solid var(--secondary);
        border-radius: 4px;
        color: var(--secondary);
        font-family: monospace;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background: rgba(100, 255, 218, 0.1);
        }
    }
}