<section id="about" class="about">
    <h2 class="section-title"><span>01.</span> About Me</h2>
    <div class="content">
        <div class="text">
            <p>
                {{ resume.personal.summary }}
            </p>
            <p>
                I have a strong academic background with a M.Sc in Computer Science and over
                1.5 years of hands-on experience in the industry. My focus is on writing
                clean, efficient code and building user-friendly applications.
            </p>

        </div>
        <div class="image-wrapper">
            <div class="profile-img-container">
                <img [src]="'/assets/' + image.About_pic[0]" alt="Profile Picture">
            </div>
        </div>
    </div>
</section>